body {
	 background: lavender;
 }
 #header{
 width: 100%;
 background:lavender;
 border-bottom-style:solid;
 border-bottom-width:thin;
 }
 #h1{color: orange;
 }
 #p1{color: orange;
 font-size:12px;
 position: relative;
 top:-1em;
 }
 #im1{width: 40%;
 height: auto;
 position: relative;
 top:0px;
 }
 #d1{width: 80%;
 position: relative;
 left:2em;
 top:2em;
 border-bottom-style:solid;
 border-bottom-width:thin;
 }
 #d2{width: 100%;
 position: relative;
 top:6em;
 border-top-style:solid;
 border-top-width:thin;
 }
 #d3{width: 80%;
 position: relative;
 left:2em;
 top:5em;
 
 border-bottom-style:solid;
 border-bottom-width:thin;
 }
 #d4{width: 80%;
 position: relative;
 left:2em;
 top:2em;
 border-bottom-style:;
 border-bottom-width:thin;
 }
 #a1{position: relative;
 left:6em;
 top:-0.1em;
 color: teal;
 text-decoration: none;
 }
 #p2,#p3,#p4,#p5{color: black;
 font-size: 12px;
 font-family: "Caflisch Script Pro",cursive;
 }
 #h2,#h3,#h4{color: teal;
 }
 .im{width: 20%;
 position: relative;
 top:3em;
 }
 
 