/*small smartphones*/
@media screen and (min-width:320px){
.im{width: 50%;
}
}
.im{height: auto;
}

/*for smartphones in landscape mode*/
@media screen and (min-width: 460px){
.im{width: 70%;
}
#d1,#d4{position: relative;
left:3.5em;
}
}
/*for tablets in portrait mode or small desktops*/
@media screen and (min-width: 600px){
.im{width: 60%;
}
#d1,#d4{position: relative;
left:4.5em;
width: 60%;
}
}

@media screen and (min-width: 760px){
.im{width: 70%;
}
#d1,#d4{position: relative;
left:6em;
width: 60%;
}
}

@media screen and (min-width: 960px){
.im{width: 70%;
}
#d1,#d4{position: relative;
left:8em;
width: 40%;
}
}
