/*small smartphones*/
@media screen and (min-width:320px) and (orientation:portrait){
.im{width: 30%;
}
}
.im{height: auto;
}

@media screen and (min-width: 320px) and (orientation:landscape){
.im{width: 20%;
}
#a1{position: relative;
left:14em;
}
}
/*for tablets*/
@media screen and (min-width: 460px) and (orientation:portrait){
.im{width: 20%;
}
#a1{position: relative;
left:22.75em;
}
}

@media screen and (min-width: 460px) and (orientation:landscape){
.im{width: 15%;
}
}