body {
	 background:beige;
 }
 
 
 .pee{
	color:grey;
}

 p{
     text-overflow: wrap;
     text-align: left;
}

a{
	text-decoration: none;
}

div{
	position: absolute;
	top: 10px;
     left: 0px;
	border: solid;
	border-width: thin;
	transition:all 2s ease;
}
div:hover{
	transform: rotate(0.5deg);
}

img{
	width: 100px;
	height: 100px;
}

strong{
	color: blue;
}

h1,h2,h3,p{
	text-align: center;
	margin: 10px;
}